-
  var url = "./img/podcasts/common";
  var podcastsData = [
    {
      "title": "Европа. XIX век",
      "host": "Дмитрий Гутенберг",
      "img": `${url}/europe.jpg`,
      "time": "15:34",
      "date": "14 июня",
      "count":258,
      "like": 104,
      "share": 68
    },
    {
      "title": "О музыке",
      "host": "Дмитрий Гутенберг",
      "img": `${url}/about-music.jpg`,
      "time": "5:32",
      "date": "14 июня",
      "count": 207,
      "like": 34,
      "share": 18
    },
    {
      "title": "Люди сегодня",
      "host": "Анна Васильева",
      "img": `${url}/people-today.jpg`,
      "time": "8:54",
      "date": "14 июня",
      "count": 104,
      "like": 54,
      "share": 42
    },
    {
      "title": "Хэллоу, Африка",
      "host": "Пётр Дмитриевский",
      "img": `${url}/hello-africa.jpg`,
      "time": "9:04",
      "date": "14 июня",
      "count": 87,
      "like": 44,
      "share": 5
    },
    {
      "title": "Обо всём",
      "host": "Пётр Дмитриевский",
      "img": `${url}/about-everything.jpg`,
      "time": "7:03",
      "date": "2 июня",
      "count": 64,
      "like": 30,
      "share": 8
    },
    {
      "title": "Физика цвета",
      "host": "Татьяна Флеганова",
      "img": `${url}/physic-color.jpg`,
      "time": "9:15",
      "date": "28 мая",
      "count": 58,
      "like": 29,
      "share": 14
    },
    {
      "title": "Источник звука",
      "host": "Пётр Дмитриевский",
      "img": `${url}/origin-sound.jpg`,
      "time": "16:04",
      "date": "22 мая",
      "count": 55,
      "like": 20,
      "share": 12
    },
    {
      "title": "Правила этикета",
      "host": "Татьяна Флеганова",
      "img": `${url}/rules.jpg`,
      "time": "6:55",
      "date": "18 мая",
      "count": 24,
      "like": 54,
      "share": 42
    },
     {
      "title": "О музыке",
      "host": "Дмитрий Гутенберг",
      "img": `${url}/about-music.jpg`,
      "time": "5:32",
      "date": "14 июня",
      "count": 207,
      "like": 34,
      "share": 18
    },
    {
      "title": "Люди сегодня",
      "host": "Анна Васильева",
      "img": `${url}/people-today.jpg`,
      "time": "8:54",
      "date": "14 июня",
      "count": 104,
      "like": 54,
      "share": 42
    },
    {
      "title": "Хэллоу, Африка",
      "host": "Пётр Дмитриевский",
      "img": `${url}/hello-africa.jpg`,
      "time": "9:04",
      "date": "14 июня",
      "count": 87,
      "like": 44,
      "share": 5
    },
    {
      "title": "Обо всём",
      "host": "Пётр Дмитриевский",
      "img": `${url}/about-everything.jpg`,
      "time": "7:03",
      "date": "2 июня",
      "count": 64,
      "like": 30,
      "share": 8
    },
  ]