include data/_guests-data.pug

section.guests#guests
  .container.guests__container
    h2.section-title.section-title--light.guests__title Гости
    h3.guests__subtitle.section-subtitle.section-subtitle--big У нас бывают:
    p.guests__descr Блогеры, арт-критики и&nbsp;деятели искусства, музыканты, молодые учёные и&nbsp;люди науки, историки, филологи и&nbsp;много других интересных гостей!
    .guests__content
      .guests__accordion
        ul.accordion__list
          each item in guestsListPeople
            li.accordion__item.ac
              button.accordion__btn.ac-trigger
                h2.accordion__title.ac-header= item.title
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="24" cy="24" r="20" stroke="#A1A6B4" stroke-width="2"/>
                  <path d="M16 27L24 19L32 27" stroke="#A1A6B4" stroke-width="2" stroke-linecap="square"/>
                </svg>
              .ac-panel
                ul.accordion__peoples
                  each guest in item.data
                    if guest.active
                      li.accordion__people
                        a.accordion__link.accordion__link--active(data-path= guest.path, href='#')= guest.name
                    else
                       li.accordion__people
                        a.accordion__link(data-path= guest.path, href='#')= guest.name
      .guests__info
        each guest in cardsGuest
          if guest.active
            article.guests__card.card-guest.card-guest--active(data-target= guest.target)
              picture
                source(srcset= guest.img320, media="(max-width: 767px)")
                source(srcset= guest.img768, media="(max-width: 1023px)")
                source(srcset= guest.img1024, media="(max-width: 1200px)")
                source(srcset= guest.img1920, media="(max-width: 1920px)")
                img(src= guest.img1920, alt= guest.title).card-guest__img
              ul.card-guest__list-social
                each item in guest.socials
                  li.card-guests__item
                    a.card-guests__link(href= item.url)
                      | !{item.icon}
              h3.card-guest__title= guest.title
              p.card-guest__desc= guest.desc
              a.card-guest__link-broad.btn.primary-btn--light.primary-btn(href= guest.guestBroad) Эфиры с гостем
          else
            article.guests__card.card-guest(data-target= guest.target)
              picture
                source(srcset= guest.img320, media="(max-width: 767px)")
                source(srcset= guest.img768, media="(max-width: 1023px)")
                source(srcset= guest.img1024, media="(max-width: 1200px)")
                source(srcset= guest.img1920, media="(max-width: 1920px)")
                img(src= guest.img1920, alt= guest.title).card-guest__img
              ul.card-guests__list-social
                each item in guest.socials
                  li.card-guests__item
                    a.card-guests__link(href= item.url)
                      | !{item.icon}
              h3.card-guests__title= guest.title
              p.card-guest__desc
                |!{guest.desc}
              a.card-guest__link-broad.btn.primary-btn--light.primary-btn(href= guest.guestBroad) Эфиры с гостем
